services:
  qwen-api:
    build: .
    container_name: qwen-server
    tty: true
    stdin_open: true
    ports:
      - "8000:8000"
    env_file:
      - .env
    volumes:
      - ./app:/app  # Maps local 'app' folder to '/app' in container
    